PORT = #puerto de conexión del servidor | 3000


DB_TYPE = #tipo de base de datos a conectar | postgres
DB_HOST = #host de la base de datos | localhost
DB_PORT = #puerto de la base de datos | 5432
DB_USERNAME = #usuario de la base de datos | postgres
DB_PASSWORD = #contraseña del usuario de la base de datos | patatitas6
DB_DATABASE = #nombre de la base de datos debe estar creada antes de intentar levantar la conexión | pt28
DB_SYNCHRONIZE = #sincronizar la base de datos con las entidades | true
DB_DROP = #eliminar y volver a crear la base de datos en cada inicio | true
DB_LOGGING = #nivel de registro de la base de datos | ["error"]

FRONTEND_URL = #URL del frontend en producción | http://localhost:5173

